configuration :
- name : yinsu1
  ip   : 128.237.213.216
  port : 12333
- name : yinsu2
  ip   : 128.237.213.216
  port : 12334
- name : hao1
  ip   : 128.237.220.56
  port : 12335
- name : hao2
  ip   : 128.237.220.56
  port : 12336
- name : logger
  ip   : 127.0.0.1
  port : 12337
- clockService : logical

groups :
  - name : g1
    members :
      - yinsu1
      - hao1
  - name : g2
    members :
      - yinsu1
      - hao1
      - hao2
  - name : g3
    members :
      - hao1
      - hao2
  - name : g4
    members :
      - yinsu1
      - yinsu2

sendRules :
  - action : drop
    src    : yinsu1
    kind   : SDrop
  - action : drop
    src    : yinsu1
    kind   : hao2Drop
    dest   : hao2
  - action : delay
    src    : yinsu1
    kind   : SDelay
  - action : duplicate
    src    : yinsu1
    kind   : SDup
  #- action : drop
    #kind   : timeout
receiveRules :
  - action : drop
    src    : yinsu
    kind   : RDrop
  - action : delay
    src    : yinsu
    kind   : RDelay
  - action : duplicate
    src    : yinsu
    kind   : RDup

