configuration :
- name : yinsu1
  ip   : 128.237.213.216
  port : 12333
- name : yinsu2
  ip   : 128.237.213.216
  port : 12334
- name : hao1
  ip   : 128.237.220.56
  port : 12335
- name : hao2
  ip   : 128.237.220.56
  port : 12336
- name : logger
  ip   : 192.168.1.104
  port : 12337
- clockService : logical

groups :
  - name : g1
    members :
      - yinsu1
      - yinsu2
      - hao1
  - name : g2
    members :
      - yinsu1
      - hao1
      - hao2

sendRules :
  - action : drop
    src    : yinsu
    kind   : SDrop
  - action : delay
    src    : yinsu
    kind   : SDelay
  - action : duplicate
    src    : yinsu
    kind   : SDup
receiveRules :
  - action : drop
    src    : yinsu
    kind   : RDrop
  - action : delay
    src    : yinsu
    kind   : RDelay
  - action : duplicate
    src    : yinsu
    kind   : RDup

