# Defines which nodes are used in the system and how to connect to them.
# This element should only be referenced during the constructor's initial
# setup.
# All names must be unique.
# No other nodes are known.
# These names will be used for src and dest addresses for the Message
# The local node’s name is included in this list
configuration :
- name : yinsu
  ip   : 192.168.1.104
  port : 12333
- name : robin
  ip   : 192.168.1.104
  port : 12344
- name : hao1
  ip   : 127.0.0.1
  port : 14254
- name : hao2
  ip   : 127.0.0.1
  port : 1987
- name : logger
  ip   : 192.168.1.104
  port : 1999
- clockService : vector
groups :
  - name : Group1
    members :
      - yinsu
      - robin
      - hao1
  - name : Group2
    members :
      - yinsu
      - hao2
      - hao1
# This is the incoming port on which MP will listen
# May be changed for further communication as usual
sendRules :
  - action : drop # Ack message number 4 from bob to alice will not be sent
    src    : yinsu
    kind   : Ack
  - action : delay # Every Lookup message in the system will be delayed
    kind   : Lookup
  - action : duplicate
    kind   : ack
receiveRules :
  - action : duplicate
    src    : yinsu
    seqNum : 5
  - action : drop # drop every duplicate message
    dupe   : true
  - action : delay
    src    : yinsu
    kind   : keepAlive
  - action : drop
    src    : yinsu
    seqNum : 11
